Note: you may need to restart the kernel to use updated packages.

'C:\Users\SHUBHAM' is not recognized as an internal or external command,
operable program or batch file.

In [59]:
import pandas as pd
import numpy as np

In [60]:
train = pd.read_csv('Train.csv')
train

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,6141,1583,144,3,2011-05-06 16:54:00,3.75,14056.0,35
1,6349,1300,3682,6,2011-05-11 07:35:00,1.95,13098.0,35
2,16783,2178,1939,4,2011-11-20 13:20:00,5.95,15044.0,35
3,16971,2115,2983,1,2011-11-22 12:07:00,0.83,15525.0,35
4,6080,1210,2886,12,2011-05-06 09:00:00,1.65,13952.0,35
...,...,...,...,...,...,...,...,...
284775,3408,1706,1081,6,2011-03-01 12:07:00,1.65,17965.0,35
284776,13982,2184,2947,16,2011-10-13 15:08:00,0.65,16793.0,35
284777,6641,667,3632,4,2011-05-16 12:59:00,8.50,14755.0,35
284778,13820,1576,3089,48,2011-10-11 14:18:00,3.45,14866.0,35
284779,11042,2603,1156,2,2011-08-22 13:30:00,0.75,17585.0,35

In [61]:
train.describe()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
count,284780.000000,284780.000000,284780.000000,284780.000000,284780.000000,284780.000000,284780.000000
mean,9955.394083,1573.386807,2023.955573,12.028468,3.451216,15288.224278,32.823846
std,5551.519138,843.604991,1089.812078,295.111588,78.399541,1714.336529,6.743602
min,0.000000,0.000000,0.000000,-80995.000000,0.000000,12346.000000,0.000000
25%,5069.000000,939.000000,1141.000000,2.000000,1.250000,13953.000000,35.000000
50%,10310.000000,1521.000000,1987.000000,5.000000,1.950000,15152.000000,35.000000
75%,14657.000000,2106.000000,2945.000000,12.000000,3.750000,16794.000000,35.000000
max,22188.000000,3683.000000,3895.000000,80995.000000,38970.000000,18287.000000,36.000000

train2.describe()

In [70]:
x = train.loc[:,('StockCode','Description','Quantity','Country')]
y = train.loc[:,('UnitPrice')]

In [71]:
train.nunique()

InvoiceNo      20971
StockCode       3619
Description     3819
Quantity         373
InvoiceDate    19451
UnitPrice        524
CustomerID      4339
Country           37
dtype: int64

In [64]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281887 entries, 0 to 284779
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    281887 non-null  int64
 1   StockCode    281887 non-null  int64
 2   Description  281887 non-null  int64
 3   Quantity     281887 non-null  int64
 4   InvoiceDate  281887 non-null  object
 5   UnitPrice    281887 non-null  float64
 6   CustomerID   281887 non-null  float64
 7   Country      281887 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 19.4+ MB

In [72]:
test = pd.read_csv('Test.csv')
test.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,CustomerID,Country
0,3139,1709,1079,3,2011-02-22 15:22:00,16161.0,35
1,617,510,3457,1,2010-12-08 12:46:00,17341.0,35
2,14653,604,694,36,2011-10-25 13:53:00,15158.0,35
3,8634,1478,3473,2,2011-06-27 12:38:00,16033.0,35
4,15546,3216,871,1,2011-11-06 16:14:00,15351.0,35

In [73]:
x_test = test.loc[:,('StockCode','Description','Quantity','Country')]

In [67]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)
model.fit(x,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [64]:
y_predict = model.predict(x_test)

In [65]:
final = pd.DataFrame(y_predict)

In [66]:
final.to_csv('submission10.csv',index = False)

In [67]:
pd.read_csv('submission10.csv')

                0
0        1.650000
1        1.194375
2        3.868385
3        1.641601
4       12.575505
...           ...
122044   0.380000
122045   1.680521
122046   1.270050
122047   3.789572
122048   4.156305

[122049 rows x 1 columns]

In [38]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression(normalize = True)

In [41]:
regressor.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [43]:
y_pred = regressor.predict(x_test)

In [45]:
final_2 = pd.DataFrame(y_pred)

In [46]:
final_2.to_csv('submission9.csv',index = False)

In [47]:
pd.read_csv('submission9.csv')

               0
0       3.714927
1       1.451389
2       1.658170
3       3.256801
4       6.528277
...          ...
122044  5.163728
122045  6.261523
122046  3.146738
122047  3.565395
122048  4.426115

[122049 rows x 1 columns]

In [74]:
import xgboost as xgb

In [75]:
data_dmatrix = xgb.DMatrix(data=x,label=y)

In [76]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)

In [77]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [78]:
xg_reg.fit(X_train,y_train)

[20:10:11] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=10,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [79]:
preds = xg_reg.predict(x_test)

In [80]:
final11 = pd.DataFrame(preds)

In [81]:
final11.to_csv('submission14.csv',index = False)